body
{
    margin: 0;
    padding: 0;
    height: 100vh;

}
#particles-js
{
    height: 100%;
    background: #262626;
}

header .banner-text {
    width: 100%;
}

/* bagian ke 2 */
main {
    margin: auto;
    background-color: rgb(54, 30, 189);
    padding: 0%;
}

textarea.dashed {
    border-style: dashed;
}

div {
    margin-top: auto;
    text-align: center; /* for tengah text*/
    background-color: blue;
    border-top: 0cm;

}

/* bagian ke 3 */

thead {
    caption-side: bottom;
    text-overflow: clip;
    border-style: solid;
}
